* {
    padding: 0;
    background-color: rgb(240, 234, 179);
}
.main-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}

.box-style {
    width: 300px;
    margin: 0 40px;
    padding: 0 25px;
    background-color: rgb(16, 216, 216);
}

.box-1 {
    border: 3px solid rgb(25, 104, 104);
    display: inline-block;
} 

.box-2 {
    border: 3px solid rgb(188, 98, 216);
    height: 450px;
    display: inline-block;
}

.box-3 {
    border: 3px solid rgb(188, 98, 216);
    height: 450px;
    display: inline-block;
}

.box-4 {
    border: 3px dotted rgb(25, 104, 104);
    height: 450px;
    display: inline-block;
    margin: 20px;
}

p {
    font-size: 1.7em;
    text-align: justify;
    background-color: rgb(16, 216, 216);;
}