* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(54, 52, 52);
}
.menu {
    list-style: none;
    text-align: center;
    line-height: 1.5em;
}
.style-icon {
    color: whitesmoke;
    font-size: 1em;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 35px;
    margin-top: 20px;
    line-height: 35px;
}
.style-icon:hover{
    border-bottom: 2px whitesmoke;
    cursor: pointer;
}
.style-icon-btn {
    color: whitesmoke;
    font-size: 1em;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 35px;
    border-right: whitesmoke;
    width: 120px;
    height: 50px;
    line-height: 18px;
}
.style-icon-btn:hover {
    border-bottom: 2px whitesmoke;
    cursor: pointer;
}
.texto-nuevo {
    background-color: rgb(250, 142, 52);
    padding: 0 8px;
    border-radius: 4px;
    font-size: 0.8em;
}