*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    /* height: 72px; */
    background-color: rgb(48, 14, 81);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    width: 100%;
    text-align: right;
    list-style: none;
}

li {
    display: inline-block;
    position: relative;
    width: 250px;
    text-align: center;
}

a {
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    line-height: 3em;
}

a:hover {
    background-color: rgb(185, 144, 223);
    cursor: pointer;
    transition: 1.3s;
    overflow: visible;
}

.icon-style {
    margin-right: 8px;
    font-size: 0.75em;
}

.icon-sd {
    font-size: 0.9em;
    position: relative;
    left: 35px;
}

.chaild-menu {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
}

.main-menu > li:hover .chaild-menu {
    position: absolute;
    /* display: block; */
    color: brown;
    /* overflow: visible; */
    max-height: 500px;
    background-color: rgb(48, 14, 81);
}

.box-bar{
    display: none;
}

@media only screen and (max-width: 750px){
    .box-bar {
        display: block;
        width: 500px;
        height: 72px;
        background-color: red;
        position: fixed;
    }

    .menu-bar {
        color: whitesmoke;
        font-size: 1.5em;
        position: relative;
        right: 15px;
        bottom: 15px;
    }
    nav {
        margin-top: 73px;
        height: calc(100% - 48px);
        width: 80%;
        position: fixed;
    }
    
}