*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: rgb(226, 224, 224);
    width: 100%;
    height: 70px;
    display: grid;
    grid-template: "logo-menu box-input           icon-notifications" 70px /
                     310px    minmax(400px, 1fr)  250px;
}

.logo-menu {
    grid-area: logo-menu;
    color: red;
    background-color: rgb(226, 224, 224);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    gap: 40px;
    
}

.fa-brands:hover {
    cursor: pointer;
    background-color: rgb(96,96,96,.5);
    border-radius: 8px;
    border-top: 5px;
}

.fa-brands{
    font-size: 1.5em;
}

.box-input {
    grid-area: box-input;
    background-color: rgb(237, 235, 235);
    padding-left: 24px;
    padding-top: 10px;
    min-height: 30px;
}

#miInput {
    width: 1250px;
    border-radius: 30px;
    padding: 10px;
    border: 900px;
    font-size: 1em;
}

#miInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

.icon-notifications {
    font-size: 1.5em;
    grid-area: icon-notifications;
    background-color: rgb(226, 224, 224);
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    list-style: none;
}


.main-menu {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}

/* IMAGENES */

.gallery{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    columns: 7  252px;
    column-gap: 0.5em;
 
    background-color: rgb(198, 37, 37);
}

.box-content {
    background-color: rgb(237, 234, 234);
    border-radius: 10px;
    margin-bottom: 8px;
    position: relative;
    max-width: 100%;
}

.tex{
    text-align: center;
}

img {
    border-radius: 10px;
    width: 100%;
}

.hov {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    position: absolute;
    width: 236px;
    height: 443px;
}








