*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: rgb(226, 224, 224);
    width: 100%;
    height: 70px;
    display: grid;
    grid-template: "logo-menu box-input           icon-notifications" 70px /
                     310px    minmax(400px, 1fr)  250px;
}
.logo-menu {
    grid-area: logo-menu;
    color: red;
    background-color: rgb(226, 224, 224);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    gap: 35px;
    
}
.fa-brands{
    font-size: 3em;
}

.box-input {
    grid-area: box-input;
    background-color: purple;
    padding-left: 24px;
    padding-top: 10px;
    min-height: 30px;
}

#miInput {
    width: 1250px;
    border-radius: 30px;
    padding: 10px;
    border: 900px;
    font-size: 1em;
}

#miInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}






.icon-notifications {
    font-size: 1.5em;
    grid-area: icon-notifications;
    background-color: rgb(226, 224, 224);
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    list-style: none;
}

.icon-notifications:hover {
    border-bottom: 2px rgb(230, 7, 7);
    cursor: pointer;
}

.main-menu {
    width: 100%;
    height: 100%;
    text-decoration: none;
    height: 60px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    list-style: none;
}






