* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(54, 52, 52);
}
.menu {
    list-style: none;
    text-align: center;
    line-height: 1.5em;
}
.style-icon {
    color: whitesmoke;
    font-size: 1em;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 35px;
    margin-top: 20px;
    line-height: 35px;
}
.style-icon:hover{
    border-bottom: 2px whitesmoke;
    cursor: pointer;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
h1{
    font-size: 8em;
    font-family: 'Bebas Neue';
    color: rgb(253, 253, 253);
    text-align: center;
}
h2 {
    font-size: 5em;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    text-align: center;
}
h3{
    font-size: 3em;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    text-align: center;
}
body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
  }
